<h1>New Feed for <%= @collection.name %></h1>

<%= render 'form', collection: @collection, feed: @feed %>

<div class="actions">
  <%= link_to 'Back to Feeds', collection_feeds_path(@collection), class: 'btn btn-secondary' %>
</div> 